@font-face{
    font-family:iran-sans;
    src: url(../fonts/FontsFree-Net-ir_sans.ttf);
    src: url(../fonts/iranyekanwebbold.cfb6e26c.woff2);
    src: url(../fonts/iranyekanwebextrabold.9346e9a2.woff);
    src: url(../fonts/iranyekanwebmedium.2d4f96e5.woff);
    src: url(../fonts/iranyekanwebregular.e31c09af.woff2);


    
}
