div.swippp .swiper {
  width: 100%;
  height: 400px;
}

div.swippp .swiper-slide {
  height:100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.swippp .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}