div.a5 .swiper {
  width: 1336px;
  height: 300px;
  border-right: 2px solid  #EF3E53;
  border-bottom: 20px solid #EF3E53 ;
  border-top: 20px solid #EF3E53 ;
  border-left: 2px solid #EF3E53 ;
  border-radius: 16px;
  background-color: #EF3E53;
}

div.a5 .swiper-slide {
  text-align: center;
  margin: 1px;
  font-size: 18px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

}
div.a5 .swiper-slide img {
  display: block;
  width: 110px;
  height: 115px;
  object-fit: cover;
  
}
div.a5 .swiper-slide img {
  display: block;
  width: 92px;
  height: 77px;
  object-fit: cover}
  div.a5 .swiper-slide a {
    width: 95.66px;
    height: 25px;
    display: block;
    font-size: 17px;
    text-decoration: none;
    color: #ffffff;

    object-fit: cover}

div.a5 .swiper-slide:nth-of-type(1) {
  background: #EF3E53;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.a5 .swiper-slide:nth-of-type(2) {
  background: #ffffff;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;


}
div.a5 .swiper-slide:nth-of-type(3) {
  background: #ffffff;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
    div.a5 .swiper-slide:nth-of-type(4) {
      background: #ffffff;
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
      div.a5 .swiper-slide:nth-of-type(5) {
        background: #ffffff;
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
        div.a5 .swiper-slide:nth-of-type(6) {
          background: #ffffff;
          text-align: center;
          font-size: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

          div.a5 .swiper-slide:nth-of-type(7) {
            background: #ffffff;
            text-align: center;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
            div.a5 .swiper-slide:nth-of-type(8) {
              background: #ffffff;
              text-align: center;
              font-size: 18px;
              display: flex;
              justify-content: center;
              align-items: center;
              
            
            }
              div.a5 .swiper-slide:nth-of-type(9) {
                background: #ffffff;
                text-align: center;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;}


                /* photo in the sildes */


div.a5 .swiper-slide:nth-of-type(2)>div.im1>img.im1{
width: 150px;
height: 150px;




}

  div.a5 .swiper-slide:nth-of-type(3)>div.im2>img.im2{
    width: 150px;
    height: 150px;
    
    
    
    }
    div.a5 .swiper-slide:nth-of-type(4)>div.im3>img.im3{
      width: 150px;
      height: 150px;
      
      
      
      
      }
      div.a5 .swiper-slide:nth-of-type(5)>div.im4>img.im4{
        width: 150px;
        height: 150px;
        
        
        
        
        }
        div.a5 .swiper-slide:nth-of-type(6)>div.im5>img.im5{
          width: 150px;
          height: 150px;
          
          
          
          
          }
          div.a5 .swiper-slide:nth-of-type(7)>div.im6>img.im6{
            width: 150px;
            height: 150px;
            
            
            
            
            }
            div.a5 .swiper-slide:nth-of-type(8)>div.im7>img.im7{
              width: 150px;
              height: 150px;
              
              
              
              
              }
              div.a5 .swiper-slide:nth-of-type(9)>div.im8>img.im8{
                width: 150px;
                height: 150px;
                
                
                
                
                }


div.a5 .swiper-slide:nth-of-type(8)>div.im7>div.s7::after{
content: attr(data-dicount);
width: 34px;
height: 20px;
 background-color: crimson;
 color: white;
display: inline-block;
 line-height: 20px;
border-radius:9999PX;
font-size: 11px;
              }
div.a5 .swiper-slide:nth-of-type(5)>div.im4>div.s4::after{
                content: attr(data-dicount);
                width: 34px;
                height: 20px;
                 background-color: crimson;
                 color: white;
                display: inline-block;
                 line-height: 20px;
                border-radius:9999PX;
                font-size: 11px;
                              }
